@import "bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body.no-scroll {
  overflow: hidden;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1050;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  width: 270px;
}

#sidebar.open2 {
  transform: translateX(0);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70%;
  background: #fff;
  z-index: 1050;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

#sidebar.collapsed {
  margin-left: -250px;
}
#content {
  transition: all 0.3s ease;
  width: 100%;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar .nav-link {
  color: #adb5bd;
  padding: 12px 20px;
  transition: all 0.3s;
}
#sidebar .nav-link:hover {
  background-color: #343a40;
  color: #fff;
}
#sidebar .nav-link.active {
  background-color: #0d6efd;
  color: #fff;
}
.navbar-toggler {
  border: none;
}

.Hover:hover {
  background: #92cfda;
  color: #00437a;
}

@media (min-width: 576px) {
  .sidebar {
    position: fixed;
    top: 0%;
    height: 100vh;
    width: 50%;

    background: #ffff;
    z-index: 100px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .nav2 {
    background-color: #00437a;
  }
}

@media (min-width: 1024px) {
  .main {
    margin-left: 30%;
  }
  .sidebar {
    top: 0%;
    height: 100vh;
    width: 30%;
    left: 0%;

    background: #ffff;
    z-index: 100px;
  }

}

@media (min-width: 1440px) {

 
}
